@import "../../styles/colors.module.scss";
.header {
  background-image: $color-linear-gradient;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
  @include media-query("sm") {
    min-height: max-content;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    gap: 2rem;
    background-color: $color-dark;
  }
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    min-height: 100%;
    flex-direction: column;
    margin-top: 2.8rem;
    justify-self: stretch;
    @include media-query("sm") {
      flex-direction: row;
      margin-top: 0;
      flex-direction: row;
    }
    .link {
      font-size: 1.8rem;
      padding: 1rem 1.5rem;
      display: block;
      position: relative;
      z-index: 1;
      background: transparent;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $color-primary;
        z-index: -1;
        transition: all 0.2s linear;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}
.link {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
}
.footer {
  margin-top: auto;
  text-align: center;
  p {
    opacity: 0.2;
  }
  @include media-query("sm") {
    display: none;
  }
}
.active {
  background-color: $color-primary !important;
  z-index: 100;
}
