@import "../../styles/colors.module.scss";
.section-hero {
  position: relative;
  height: 50vh;
  @include media-query("md") {
    padding: 2rem;
  }
  img {
    filter: brightness(30%);
    border-radius: 10px;
    z-index: -1;
  }
  &-textbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(10%);
    max-width: 80%;
    h1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
    em {
      font-size: 4rem;
      font-style: normal;
    }
  }
}
