@import "../../styles/colors.module.scss";
.movies-container {
  display: grid;
  column-gap: 2rem;
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
  //@include media-query("lg") {
  //  grid-template-columns: repeat(auto-fit, 20rem);
  //}
  .movie-card {
    display: grid;
    grid-template-rows: max-content 10rem;
    background-color: #1d1d1d;
    border-radius: 10px;
    cursor: pointer;
    @include box-shadow-sm;
    transition: all 0.4s;
    &:hover {
      scale: 1.02;
      translate: (0, -5px);
      @include box-shadow-lg;
    }
    img {
      border-radius: 10px;
      height: auto;
      width: 100%;
      //@include media-query("lg") {
      //  height: 20rem;
      //  width: 20rem;
      //}
    }
    .textbox {
      padding: 0.5rem 1rem;
      display: grid;
      grid-template-rows: 1fr min-content;
      position: relative;
      h4 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: auto;
        margin-bottom: auto;
      }
      .rating-box {
        margin-top: auto;
      }
    }
  }
}
// .section {
//   @include media-query("md") {
//     padding: 2rem;
//   }
// }
