@import "../../styles/colors.module.scss";
.button {
  background-color: $color-primary;
  color: white;
  padding: 1rem 2rem;
  font-family: inherit;
  font-size: 1.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  z-index: 1;
  &:hover {
    transform: scale(1.1) translateX(1rem);
    color: $color-dark;
  }
  &:active {
    transform: scale(1.05) translateX(0.5rem);
  }
  &::before {
    z-index: -1;
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
  }
  &:hover::before {
    width: 100%;
  }
}
