.wrapper {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

@import "../../styles/colors.module.scss";
.loader {
  z-index: 1111;
  border: 10px solid $color-primary;
  border-radius: 50%;
  border-top: 10px solid #505050;
  border-top: 10px solid $color-dark;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
