@import "../../styles/colors.module.scss";
.pagination {
  text-align: center;
  @include media-query("sm") {
    margin-bottom: 10rem;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    li {
      padding: 0.5rem 1rem;
      background-color: $color-dark;
      border-radius: 0.5rem;
      background-color: $color-dark;
      cursor: pointer;
    }
  }
}
.active {
  background-color: $color-primary !important;
}
