// css reset.
@import "./colors.module.scss";
body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8rem;
  background-color: $color-bg;
  color: $color-text;
  overflow-x: hidden;
  @include media-query("sm") {
    margin-bottom: 10rem;
  }
}
html {
  box-sizing: border-box;
  font-size: 55%;
  @include media-query("md") {
    font-size: 50%;
  }
  @include media-query("xsm") {
    font-size: 40%;
  }
}
*,
*::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: inherit;
}
//////////////////////

.star-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: white;
  opacity: 0.8;
}

#app {
  display: grid;
  position: relative;
  grid-template-columns: minmax(max-content, 30rem) 1fr;
  @include media-query("sm") {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

// main section
.main {
  position: relative;
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  grid-column: 2/3;
  @include media-query("sm") {
    position: static;
    grid-column: 1/-1;
    grid-row: 1/2;
    padding: 0 5rem;
  }
  &__movie-details{
    @include media-query("sm") {
      width: 100%;
      position: static;
      grid-column: 1/-1;
      grid-row: 1/2;
      padding: 0 5rem;
    }
  }
  @include media-query("xsm") {
    padding: 0;
  }
}
.heading-primary {
  background-color: $color-primary;
  color: white;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
